@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

section {
    padding: 0 32px;
}

.section__title {
    font-size: 48px;
    font-weight: 800;
    color: #243e63;
    line-height: 1.5;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.section__tag {
    font-size: 16px;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.purple {
    color: #6415ff;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

/*

NAV

*/

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 50px;
    height: 50px;
}

.nav__logo--title {
    font-weight: 800;
    font-size: 28px;
    padding-left: 16px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 12px;
    font-size: 16px;
    font-weight: 600;
}

.login {
    margin-left: 32px;
}

.nav__link--primary {
    color: #fff;
    background-color: #6415ff;
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
}

/* 

HEADER

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 800px;
}

.header__description--para {
    margin: 28px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #e5e7eb;
    padding: 16px 160px 16px 32px;
    color: #243e63;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 50px;
    border: none;
    width: 160px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.header__customers--title {
    margin-top: 48px;
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.header__customers {
    opacity: 0.5;
    padding-right: 32px;
    margin-top: 12px;
}

/* 

FEATURES

*/

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px; 
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    color: #a0aec0;
    font-weight: 500;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

/* 

QUALITY

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    margin-right: 64px;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid #e5e7eb;
    margin: 0 56px;
    display: flex;
}

#quality .btn {
    margin-top: 32px;
}

#quality .section__title {
    line-height: 1.25;
}

/* 

STEPS

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper,
.steps__description {
    width: 50%;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 32px;
    font-weight: 600;
    color: #cbd5e0;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}