@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

section {
    padding: 0 32px;
}

.section__title {
    font-size: 48px;
    font-weight: 800;
    color: #243e63;
}

.purple {
    color: #6415ff;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

/*

NAV

*/

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 50px;
    height: 50px;
}

.nav__logo--title {
    font-weight: 800;
    font-size: 28px;
    padding-left: 16px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 12px;
    font-size: 16px;
    font-weight: 600;
}

.login {
    margin-left: 32px;
}

.nav__link--primary {
    color: #fff;
    background-color: #6415ff;
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
}

/* 

HEADER

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 800px;
}

.header__description--para {
    margin: 28px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #e5e7eb;
    padding: 16px 160px 16px 32px;
    color: #243e63;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 50px;
    border: none;
    width: 160px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.header__customers--title {
    margin-top: 48px;
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.header__customers {
    opacity: 0.5;
    padding-right: 32px;
    margin-top: 12px;
}

/* 

FEATURES

*/